In [1]:
import pandas as pd
import os

In [2]:
os.listdir()

['games_info_features.ipynb',
 'merge_rating_date.ipynb',
 'teams_features.ipynb',
 'teams_features_ma.ipynb',
 'team_rating',
 'timedelta_features.ipynb']

In [3]:
df_timedelta = pd.read_csv("../04_datasets/games_timedelta.csv")
df_rating = pd.read_csv("../04_datasets/NFL_team_rating.csv")

In [4]:
len(df_timedelta)

2578

In [5]:
len(df_rating)

2584

In [6]:
1296*2

2592

In [5]:
df_rating.rename(columns={"game_id": "idgame" }, inplace =True)

In [6]:
display(df_timedelta.head())
df_rating.head()

   Unnamed: 0     team     idgame                       date      delta_match
0           0  Bengals  400951572  2017-09-10 17:00:00+00:00              NaN
1           1  Bengals  400951620  2017-09-15 00:25:00+00:00  4 days 07:25:00
2           2  Bengals  400951627  2017-09-24 20:25:00+00:00  9 days 20:00:00
3           3  Bengals  400951712  2017-10-01 17:00:00+00:00  6 days 20:35:00
4           4  Bengals  400951554  2017-10-08 17:00:00+00:00  7 days 00:00:00

,idgame,team,pass_completion,pass_yds,pass_avg,pass_td,pass_int,sacks,qbr,rtg,...,punt_return_td,kicking_pct,kicking_long,kicking_pts,punting_no,punting_yds,punting_avg,punting_tb,punting_in_20,punting_long
0,400950241,Dolphins,0.714286,164.0,5.9,0.0,1.0,0.111111,0.111111,71.1,...,0.0,0.0,0.0,0.0,6.0,263.0,43.8,0.0,2.0,49.0
1,400950241,Saints,0.707317,268.0,6.5,2.0,0.0,0.142857,0.142857,104.5,...,0.0,66.7,45.0,8.0,3.0,141.0,47.0,0.0,0.0,58.0
2,400951552,Buccaneers,0.565217,334.0,7.3,1.0,0.0,0.133333,0.133333,86.7,...,0.0,0.0,0.0,2.0,6.0,271.0,45.2,0.0,3.0,57.0
3,400951552,Patriots,0.750000,303.0,7.6,1.0,1.0,0.214286,0.214286,94.1,...,0.0,100.0,48.0,13.0,4.0,188.0,47.0,0.0,1.0,55.0
4,400951553,Cardinals,0.510638,273.0,5.8,1.0,0.0,0.117647,0.117647,75.9,...,0.0,100.0,43.0,4.0,5.0,230.0,46.0,1.0,2.0,59.0

In [7]:
df_rating_time = df_rating.merge(df_timedelta,on=['team','idgame'])

In [8]:
df_rating_time.drop(columns=('Unnamed: 0'), inplace = True)
df_rating_time.head()

,idgame,team,pass_completion,pass_yds,pass_avg,pass_td,pass_int,sacks,qbr,rtg,...,kicking_long,kicking_pts,punting_no,punting_yds,punting_avg,punting_tb,punting_in_20,punting_long,date,delta_match
0,400950241,Dolphins,0.714286,164.0,5.9,0.0,1.0,0.111111,0.111111,71.1,...,0.0,0.0,6.0,263.0,43.8,0.0,2.0,49.0,2017-10-01 13:30:00+00:00,6 days 20:30:00
1,400950241,Saints,0.707317,268.0,6.5,2.0,0.0,0.142857,0.142857,104.5,...,45.0,8.0,3.0,141.0,47.0,0.0,0.0,58.0,2017-10-01 13:30:00+00:00,6 days 20:30:00
2,400951552,Buccaneers,0.565217,334.0,7.3,1.0,0.0,0.133333,0.133333,86.7,...,0.0,2.0,6.0,271.0,45.2,0.0,3.0,57.0,2017-10-06 00:25:00+00:00,4 days 04:20:00
3,400951552,Patriots,0.750000,303.0,7.6,1.0,1.0,0.214286,0.214286,94.1,...,48.0,13.0,4.0,188.0,47.0,0.0,1.0,55.0,2017-10-06 00:25:00+00:00,4 days 07:25:00
4,400951553,Cardinals,0.510638,273.0,5.8,1.0,0.0,0.117647,0.117647,75.9,...,43.0,4.0,5.0,230.0,46.0,1.0,2.0,59.0,2017-11-10 01:25:00+00:00,4 days 04:20:00

In [9]:
df_rating_time.to_csv('../04_datasets/nfl_team_rating_date.csv')